.expert-form-input {
    padding-bottom: 16px;
    i {
        margin-top: -40px;
        margin-bottom: 40px;
        margin-left: calc(100% - 30px);
    }
    input {
        border: 1px solid #ddd;
        font-weight: bold;
        // color: #ddd;
        width: 100%;
        height: 60px;
        border-radius: 15px;
        outline: none;
        padding: 0 25px;
        &:active {
            outline: none;
        }
        &:focus {
            outline: none;
            border: 3px solid #017AFF;
            padding: 0 23px;
        }
        &::placeholder {
            color: #97A6B9;
            font-size: 16px;
            font-weight: bold;
            letter-spacing: 0;
            line-height: 20px;
        }
    }
}