.expert-grid-wrapper {
    .Select-control {
        border: 1px solid #5F6C72;
        .Select-value-label {
            font-family: Helvetica;
            font-size: 14px;
            line-height: 19px;
            color: #2C393F;
        }
        .Select-placeholder {
            font-size: 12px;
        }
    }
    .job-role-label {
        
    font-family: Roboto-Regular;
    font-style: normal;
    font-size: 12px;
    line-height: 12px;
    color: #B0BEC5;
    margin-bottom: 3px;
    }
}