.pill {
    padding: 8px 16px;
    border-radius: 24.5px;
    background-color: #F7F8F9;
    width: fit-content;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &.selected {
        background-color: #EAF8F2;
        color: #35B47E;
        font-weight: 500;
    }

}