.pagination > span{
    margin-right: 10px;
    margin-top: 2px;
}

.page-link{
    height: 30px;
    width: 10px;
    align-items: center;
    display: flex;
    padding-right: 18px;

    &.selected{
        background-color:#0080ff;
        color: white;
    }
}
