@import '../../../../styles/base/variables';

.recorder-render-section {
    
    background: black;
    border-radius: 5px;
    position: relative;

    .pitch-recorder-header-wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 40px;
        line-height: 40px;
        padding-left: 15px;
        padding-right: 15px;
        cursor: -webkit-grab;
        background: rgba(0, 0, 0, 0.3);
        border-top-right-radius: 4px;
        border-top-left-radius: 4px;
        position: absolute;
        width: 400px;
        z-index: 10001;

        h2 {
            font-size: 16px;
            padding-right: 15px;
            margin: 0px;
            cursor: -webkit-grab;
            font-family: Roboto-Regular;
            color: rgba(233, 233, 233, 0.94);
        }
        i {
            margin: 0px;
            cursor: default;
            color: rgba(233, 233, 233, 0.94);
        }
    }
    
    p {
        margin-bottom: 0;
    }

    .video-wrapper {
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0px !important;
        cursor: -webkit-grab;
        user-select: none;
        border-radius: 5px;
        outline: 0 !important;
        box-shadow: none!important;

        #pitch-video-stream {
            margin: 0px;
            border-top-right-radius: 5px;
            border-top-left-radius: 5px;
            outline: 0 !important;
            box-shadow: none!important;
        }
        #pitch-video-preview {
            margin: 0px;
            border-top-right-radius: 5px;
            border-top-left-radius: 5px;
            outline: 0 !important;
            box-shadow: none !important;
        }
    }

    .pitch-recorder-footer {
        display: flex;
        width: 100%;
        justify-content: space-between;
        align-items: center;
        padding-bottom: 8px;
        padding-top: 8px;
        cursor: -webkit-grab;
        user-select: none;
        outline: 0 !important;
        box-shadow: none !important;

        .pitch-recorder-status {
            font-size: 14px;
            padding-left: 15px;
            line-height: 24px;
            margin: 0px;
            color: rgba(255, 255, 255, 0.95);
            cursor: default;
        }
        .pitch-recorder-actions {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding-right: 10px;
            cursor: default;
            button {
                justify-content: center;
                align-items: center;
                display: flex;
                cursor: default;
                height: 25px;
                width: 25px;
                padding: 0px;
                text-align: center;
                border-radius: 4px;
                margin: 0px;
                margin-left: 10px;
                background: rgba(191, 191, 191, 0.06);
                border: none !important;
                outline: 0 !important;
                box-shadow: none!important;

                &.disabled {
                    pointer-events: none !important;
                    i {
                        color: rgba(99, 99, 99, 0.75) !important;                      
                    }
                }

                &:hover {
                    background: rgba(172, 172, 172, 0.23);
                }
                &.upload {
                    width: fit-content;
                    padding-left: 8px;
                    padding-right: 8px;
                    height: 25px;
                    line-height: 24px;
                    color: #0080ff;
                    font-size: 14px;
                    font-family: Roboto-Bold;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    background: transparent;
                    padding-top: 2px;
                    cursor: pointer;
                    &:hover {
                        background: rgba(172, 172, 172, 0.23);
                    }
                    i {
                        margin-top: -2px;
                        font-size: 18px;
                        margin-left: 10px;
                        color: #0080ff;
                        cursor: pointer;
                    }
                }
                &.redo, &.delete {
                    width: fit-content;
                    padding-left: 8px;
                    padding-right: 8px;
                    height: 25px;
                    font-family: Roboto-Bold;
                    line-height: 24px;
                    color: #d3d3d3;
                    font-size: 14px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    background: transparent;
                    margin-left: 10px; 
                    cursor: pointer;
                    &:hover {
                        background: rgba(172, 172, 172, 0.23);
                    }
                    i {
                        margin-top: -2px;
                        font-size: 18px;
                        margin-left: 10px;
                        color: #d3d3d3;
                        cursor: pointer;
                    }
                }
                i {
                    margin: 0px;
                    margin-top: 1px;
                    color: #f5f5f5;
                    cursor: default;
                    &.disabled {
                        color: #404040;
                        cursor: default;
                        pointer-events: none;
                    }
                    &.record {
                        color: #de1b1b;
                    }
                    &.play {
                        color: #1fc01f;
                    }
                    &.pause {}
                    &.stop {}
                }
            }
        }
    }
    .stream-message {
        width: 400px;
        height: 300px;
        text-align: center;
        // margin: 24px auto;
        margin: 0px;
        display: flex;
        align-items: center;
        justify-content: center;
        background: rgba(171, 171, 171, 0.2);
        p {
            color: rgba(149, 149, 149, 0.8);
        }
        i {
            font-size: 150px;
            margin: 0px;
            margin-top: 40px;
            color: rgba(255, 255, 255, 0.08);
            cursor: -webkit-grab;
        }
    }
    button {
        border: 1px solid transparent;
        box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.5);
        font-size: 16px;
        font-family: SFUI-Medium;
        height: 45px;
        margin-bottom: 16px;
        margin-top: 8px;
        width: 95%;
        &.start-btn {
            color: #fff;
            background: $btn-blue;
        }
        &.stop-btn {
            color: #fff;
            background: $red;
        }
        &.pause-btn,
        &.resume-btn {
            color: #000;
            background: $blue-background;
            border: 1px solid $btn-blue;
        }
        &:hover {
            box-shadow: 0 1px 5px 3px rgba(0, 0, 0, 0.35);
            border-color: #929292;
        }
        &:disabled {
            background: $btn-grey;
            color: $black;
            opacity: 0.7;
            border-color: #929292;
            &:hover {
                box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.5);
            }
        }
    }

    .uploading-message {
        margin-top: 16px;
        font-size: 18px;
        font-family: SFUI-Medium;
        height: 27px;
        margin-bottom: 0;
    }
}

.preview-wrapper {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0px !important;
    cursor: -webkit-grab;
    user-select: none;
    border-radius: 5px;
    outline: 0 !important;
    box-shadow: none !important;
    position: absolute;
    top: 0px;

    #pitch-video-stream {
        margin: 0px;
        border-top-right-radius: 5px;
        border-top-left-radius: 5px;
        outline: 0 !important;
        box-shadow: none!important;
    }
    #pitch-video-preview {
        margin: 0px;
        border-top-right-radius: 5px;
        border-top-left-radius: 5px;
        outline: 0 !important;
        box-shadow: none !important;
    }
}