.survey-analytics {
  &-column-header {
    font-family: Roboto-bold;
    font-size: 12px;
    color: #505f79;
  }
  &-table {
    height: 500px;
    width: 100%;
    .analytics-table {
      .button {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 32px;
        width: 96px;
        border-radius: 4px;
        background-color: #0080ff;
        border: none;
        color: white;
        outline: none;
      }
    }
  }
}
