

.playbook-card-mini-body {
    margin: 15px 15px 15px 15px;
    font-family: Roboto-Regular;
    min-height: 32px;
    font-style: normal;
    font-weight: bold;
    font-size: 17px;
    padding-top: 5px;
    line-height: normal;
}
