@import "../../../../styles/base/variables";
@import "../../../../styles/base/variablesV2";

.user-administration-view {
    #main-content-section {
        margin-top: 102px;
    }
    .title-label {
        padding: 16px 0;
        p {
            font-family: SFUI-Medium;
            font-size: 24px;
            margin-top: 4px;
            margin-bottom: 0px;
            margin-left: -15px;
            color: $text-color;
        }
        .add-user-btn {
            width: 175px;
            margin-left: 16px;
            box-shadow: $shadow;
            border: 1px solid transparent;
            height: 45px;
            font-family: SFUI-Medium;
            margin-right: -15px;
        }
    }
    .user-detail-form {
        .image-box {
            margin: auto;
            .overlay-img-box {
                display: none;
                opacity: 0.65;
                cursor: pointer;
                img {
                    position: absolute;
                    right: 10.98em;
                    top: 0;
                }
                &.add-form {
                    img {
                        bottom: 0.85em;
                    }
                }
            }
        }
        .image-box:hover .overlay-img-box {
            display: block;
        }
    }
    .user-detail-form {
        background: $white;
        padding: 24px 32px;
        box-shadow: $shadow;
        border-radius: 4px;
        border: $common-border;
        margin-bottom: 1em;
        form {
            width: 100%;
            .gmailAuthPill {
                margin: 30px 0px 25px 0px !important;
                padding: 1em;
                .custome-button{
                    display:flex;
                    align-items: center;
                    .btn {
                        width: 150px;
                        margin-left: 16px;
                        box-shadow: $shadow;
                        border: 1px solid transparent;
                        height: 32px;
                        // font-family: SFUI-Medium;
                        border-radius: 5px;
                        font-size: 14px;
                        line-height: 19px;
                        font-family: OpenSans-Bold;
                        font-style: normal;
                        &.btn-submit {
                            background: $blue-default;
                        }
                        &.btn-password-update {
                            background: $blue-default;
                            margin-left: 0px;
                            width: 200px;
                        }
                        &.btn-reset {
                            background: $white;
                            color: $grey-dark;
                            border: 1px solid $dark-grey-text;
                        }
                    }
                }   
        
            }
            .form-header {
                font-family: SFUI-Semibold;
                color: #000;
                opacity: 0.87;
                text-align: left;
                border-bottom: 1px solid $btn-grey;
                padding-bottom: 8px;
                margin-bottom: 32px;
            }
            .close-form-icon {
                margin-right: 0;
                margin-top: 0.2em;
                font-size: 22px;
                cursor: pointer;
            }
            .form-group {
                margin-bottom: 24px;
                label {
                    font-family: SFUI-Medium;
                }
                h5.user-name-label {
                    margin-top: 8px;
                }
                img {
                    border-radius: 50%;
                    width: 5.625em;
                    height: 5.625em;
                    border: thin solid #4d3e3e;
                    padding: 2px;
                }
                .small {
                    margin-top: 8px;
                    font-family: SFUI-Medium;
                }
                #user-login-name {
                    font-family: SFUI-Bold;
                }
                .user-login-name {
                    margin-top: 18px;
                }
                .user-status-toggle {
                    padding-top: 32px;
                    .switch-label {
                        font-family: SFUI-Medium;
                    }
                }
                .btn-password-update {
                    margin: auto;
                    box-shadow: $shadow;
                    border: 1px solid transparent;
                    height: 37px;
                    font-family: SFUI-Medium;
                    background: $btn-blue;
                    width: 200px;
                    margin-top:26px;
                }
                .license-types,
                .roles {
                    display: flex;
                    justify-content: space-around;

                    .radio-container {
                        display: block;
                        position: relative;
                        padding-left: 30px;
                        margin-bottom: 12px;
                        cursor: pointer;
                        background: $white;
                        font-size: 14px;
                        -webkit-user-select: none;
                        -moz-user-select: none;
                        -ms-user-select: none;
                        user-select: none;
                        input {
                            position: absolute;
                            opacity: 0;
                            cursor: pointer;
                        }
                        input:checked ~ .checkmark:after {
                            display: block;
                        }
                        .checkmark:after {
                            top: 3px;
                            left: 3px;
                            width: 8px;
                            height: 8px;
                            border-radius: 50%;
                            background: #2196F3;
                       }
                        &.disabled {
                            color: #c4c4c4;
                        }
                    }
                    .checkmark {
                        position: absolute;
                        top: 2px;
                        left: 6px;
                        height: 16px;
                        width: 16px;
                        background-color: transparent;
                        border: 1px solid #737373;
                        border-radius: 50%;
                        &.disabled {
                            background-color: #cfcfcf;
                        }
                    }
                    .checkmark-custom {
                        top: -3px;
                    }
                    .radio-container:hover input ~ .checkmark {
                        background-color: #ccc;
                    }
                    .radio-container input:checked ~ .checkmark {
                        background-color: white;
                        border-color: #2196F3;
                    }
                    .checkmark:after {
                        content: "";
                        position: absolute;
                        display: none;
                    }
                }
            }
            .form-footer {
                .btn {
                    width: 150px;
                    margin-left: 16px;
                    box-shadow: $shadow;
                    border: 1px solid transparent;
                    height: 45px;
                    font-family: SFUI-Medium;
                    &.btn-submit {
                        background: $btn-blue;
                    }
                    &.btn-password-update {
                        background: $btn-blue;
                        margin-left: 0px;
                        width: 200px;
                    }
                    &.btn-reset {
                        background: $btn-grey;
                    }
                }
            }
            fieldset {
                display: block;
                padding-block-start: 0.35em;
                padding-inline-start: 0.75em;
                padding-inline-end: 0.75em;
                padding-block-end: 0.625em;
                min-width: -webkit-min-content;
                border-width: 1px;
                border-style: solid;
                border-color: #dcdcdc;
                border-image: initial;
                border-radius: 5px;
                background: rgba(241, 241, 241, 0.25);
                legend {
                    font-size: 16px;
                    width: 20%;
                    font-family: SFUI-Medium;
                }
            }
        }
    }
    .users-list-section {
        border: $component-border;
        border-radius: 4px;
        box-shadow: $shadow;
        ul {
            list-style: none;
            border-radius: 4px;
            padding: 8px;
            background: $white;
            max-height: 72vh;
            li {
                border: $common-border;
                margin-bottom: 8px;
                padding: 10px;
                cursor: pointer;
                font-size: 17px;
                &.selected-user,
                &.selected-account {
                    border: 2px solid $green;
                    background: $green-background;
                }
                &.in-active {
                    background: $light-grey !important;
                }
                .login-name-label {
                    font-family: SFUI-Medium;
                }
                .user-name-label,
                .account-name-label {
                    font-family: SFUI-Light;
                }
                i.material-icons {
                    float: right;
                    margin-top: 3px;
                    &.green {
                        color: $green;
                    }
                    &.yellow {
                        color: $orange;
                    }
                }
                div.shimmer-div {
                    margin: 8px 10px;
                }
            }
        }
    }
    .search-input-wrapper {
        margin-right: -30px;
    } 
    .react-grid-Container {
        height: 94% !important;
        .react-grid-HeaderCell--frozen {
            .react-grid-checkbox-container {
                display: none;
            }
        }
        .react-grid-Main {
            min-height: 100% !important;
            height: 100% !important;
            &> div {
                min-height: inherit !important;    
            }
        }
        .react-grid-Viewport {
            min-height: inherit !important;
        }
        .react-grid-Grid {
            min-height: inherit !important;
        }
        .react-grid-Canvas {
            height: 100% !important;
        }
        .react-grid-Cell {
            padding-left: 8px;
            padding-right: 8px;
        }

    }
}
.update-password-form {
    form {
        width: 100%;
        padding: 0;
        .form-header {
            font-family: SFUI-Semibold;
            color: #000;
            opacity: 0.87;
            text-align: left;
            border-bottom: 1px solid $btn-grey;
            padding-bottom: 8px;
            margin-bottom: 32px;
        }
        .form-group {
            label {
                font-family: SFUI-Medium;
            }
            .small {
                margin-top: 8px;
                font-family: SFUI-Medium;
            }
        }
        .form-footer {
            .btn {
                width: 150px;
                margin-left: 16px;
                box-shadow: $shadow;
                border: 1px solid transparent;
                height: 45px;
                font-family: SFUI-Medium;
                margin-top: 12px;
                &.btn-submit {
                    background: $btn-blue;
                }
            }
        }
    }
}
.gmailAuthPill {
    margin: 1em 16px;
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
    flex-direction: row;
    border: 1px solid #b0bec5;
    box-sizing: border-box;
    border-radius: 5px;
    font-family: Roboto-Regular;
    font-size: 1.2em;
    text-align: center;
    justify-content:space-between;
    .status-text {
        margin-top: 0.5rem;
        margin-bottom: 0.5rem;
    }
    .gmailLink {
        color: $blue;
        text-decoration: underline;
        cursor: pointer;
    }
    .authPillRow {
        display: flex;
        input {
            flex-basis: 70%;
        }
        p {
            margin: auto 0;
            flex: 5;
            margin-left: 11em;
        }
        .gmailSubmitButton {
            display: flex;
            color: $black;
            padding: 0 1em;
            flex: 1;
            margin: 0 1em;
            border: 1px solid #5f6c72;
            border-radius: 5px;
            background: inherit;
            padding: 2px 26px;
            cursor: pointer;
            p {
                margin: auto;
            }
        }
        .custome-button{
            display:flex;
            align-items: center;
            .btn {
                width: 150px;
                margin-left: 16px;
                box-shadow: $shadow;
                border: 1px solid transparent;
                height: 32px;
                // font-family: SFUI-Medium;
                border-radius: 5px;
                font-size: 14px;
                line-height: 19px;
                font-family: OpenSans-Bold;
                font-style: normal;
                &.btn-submit {
                    background: $blue-default;
                }
                &.btn-password-update {
                    background: $blue-default;
                    margin-left: 0px;
                    width: 200px;
                }
                &.btn-reset {
                    background: $white;
                    color: $grey-dark;
                    border: 1px solid $dark-grey-text;
                }
            }
        }   
    }
    &.authorized {
        border-color: $green;
    }
    .material-icons{
        font-size: 22px;
        padding-top: 10px;
    &.verified {
        color: $green;
    }&.unverified{
        color: $grey-light;
    }
    }
}
// .gmailAuthPill {
//     margin: 1em 0;
//     display: flex;
//     flex-direction: column;
//     border: $red solid 2px;
//     padding: 1em;
//     font-family: Proxima-Nova-Regular;
//     font-size: 1.2em;
//     text-align: center;
//     .gmailLink {
//         color: $blue;
//         text-decoration: underline;
//         cursor: pointer;
//     }
//     .authPillRow {
//         display: flex;
//         input {
//             flex-basis: 70%;
//         }
//         p {
//             margin: auto 0;
//             flex: 5;
//             margin-left: 11em;
//         }
//         .gmailSubmitButton {
//             display: flex;
//             border: $light-grey 1px solid;
//             border-radius: 6px;
//             background-color: $very-light-grey;
//             color: $black;
//             padding: 0 1em;
//             flex: 1;
//             margin: 0 1em;
//             cursor: pointer;
//             p {
//                 margin: auto;
//             }
//         }
//     }
//     &.authorized {
//         border-color: $green;
//     }
// }
.image-selector-modal {
    .modal-body {
        max-width: 50vw;
    }
}
