

.industry-list-wrapper {
    height: calc(100vh - 300px);
    display: flex;
    overflow-y: hidden;
    border: 1px solid #c3c3c3;
    border-radius: 5px;
    margin-top: 40px;
    flex-direction: row;
    justify-content: space-between;
}
