.search-input {
    &-search {
        display: flex;
        align-items: center;
        height: 32px;
        width: 263px;
        box-sizing: border-box;
        width: 263px;
        border: 1px solid #5C6C73;
        border-radius: 5px;
        background-color: #FFFFFF;

        &-question {
            color: #52627a;
            font-family: Roboto-Regular;
            font-size: 14px;
            letter-spacing: 0;
            padding: 0px 8px;
            line-height: 24px;
            margin-top: 8px;
            margin-bottom: 8px;
            border: none !important;
            outline: none;
            width: 80%;
        }

        .search-icons {
            font-size: 20px !important;
            margin-right: 10px;
        }


    }
}