
.interactive-modal {
    display: block;
    width: 402px;
    background: #737c86;
    height: 343px;
    position: fixed;
    border-radius: 5px;
    z-index: 10000;
    bottom: 20px;
    right: 20px;
    /* background: transparent; */
    /* margin-left: 0px; */
    border: 1px solid rgba(0, 0, 0, 0);
    filter: drop-shadow(0px 4px 8px #535353);
    box-shadow: 0px 2px 4px black;
}
