.executive-competition{
    .header{
        display: flex;
        margin-top: 24px;
        justify-content: space-between;
        align-items: center;

        .filter{
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: fit-content;
        }

        .competition{
            .switch-button-container-button {
                width: 122px;
            }
        }

    }
    
    .goal-dropdown {
        &__control {
            height: 55px;
            width: 170px;
            border: 1px solid #0080FF;
            background-color: #e1f0ff;

            &:hover {
                border: 1px solid #0080FF;
            }
        }

        &__indicator-separator {
            display: none;
        }

        svg {
            color: black;
        }

        &-wrapper {
            margin-right: 16px;
        }
    }

    .goal-select-item {
        &-wrapper {
            display: flex;
            flex-direction: column;
            justify-content: center;
        }

        &-label {
            font-weight: bold;
            font-size: 14px;
            color: #293940;

        }

        &-name {
            color: #5c6c73;
            font-size: 10px;
        }
    }

    .body{
        margin-top: 25px;
        
    }

}