@import '../../../styles/base/variables';
@import '../../../styles/base/variablesV2';

.account-research-topic-admin {
    #main-content-section {
        margin-top: 102px;
    }
    .title-label {
        padding: 16px 0;
        p {
            font-family: SFUI-Medium;
            font-size: 24px;
            margin-top: 4px;
            margin-bottom: 0px;
            margin-left: -15px;
            color: $text-color;
        }
    }
    .body-container {
        font-family: Roboto-Regular;
        font-size: 1rem;
        .generic-acount-research-section {
            .action-section {
                border: 1px solid #cdcdcd;
                border-radius: 5px;
                padding: 1em;
                // height: 300px;
                margin-top: 0.5em;
                .add-new-topic-section {
                    border-bottom: 1px solid #ced4da;
                    margin-bottom: 1em;
                    input {
                        margin-right: 1em;
                        margin-bottom: 0.5em;
                        border-color: darkslategrey
                    }
                    i.create-new-account-topic {
                        color: green;
                        position: relative;
                        top: 8px;
                        font-size: 22px;
                        margin-right: 0;
                        cursor: pointer;
                    }
                }
                .generic-account-topic-list {
                    // height: 212px;
                    padding-right: 5px;
                    // overflow: auto;
                    // overflow-x: hidden;
                    .existing-topic-section {
                        p {
                            flex: 1;
                            padding: 0.375rem 0.75rem;
                            font-size: 1rem;
                            line-height: 1.5;
                            color: #000;
                            background-color: #FFF;
                            background-clip: padding-box;
                            border: 1px solid #ced4da;
                            border-radius: 0.25rem;
                            transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
                            margin-right: 1em;
                            margin-bottom: 0.5em;
                            &:focus {
                                outline: none;
                            }
                        }
                        i {
                            position: relative;
                            top: 8px;
                            font-size: 22px;
                            margin-right: 0;
                            cursor: pointer;
                            &.edit-account-topic {
                                margin-right: 0.5em;
                                color: #0091ff;
                            }
                            &.remove-account-topic {
                                color: #ff0000ba;
                                transform: rotate(45deg);
                                top: 5px;
                                right: 8px;
                            }
                        }
                    }
                }
            }
        }
    }
}