.story-tile.mini {
    // border: 1px solid #dae2e7;
    border-radius: 5px;
    padding: 0px 15px;
    height: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 10px;
    margin-right: 10px;
    box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
    margin-bottom: 10px;
    .story-header-wrapper {
        display: flex;
        // height: 50px;
        .story-information-wrapper {
            flex-grow: 1;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            padding-top: 0px;
            .story-account-name {
                font-size: 16px;
                color: #344b62;
                cursor: pointer;
                margin: 0px;
                margin-bottom: 0px;
                font-weight: bold;
                display: flex;
                align-items: flex-start;
                font-family: Roboto-Bold;
                font-weight: bold;
                align-items: center;
                i {
                    &:hover {
                        background: #f7f7f7;
                    }
                    font-size: 18px;
                    margin-left: 10px;
                    margin-top: -2px;
                    cursor: pointer;
                    color: #757575;
                    border-radius: 100px;
                    padding: 0px;
                }
            }
            .story-status-and-amount {
                display: flex;
                margin-bottom: 0px;
                flex-direction: column;
                .story-opp-amount-wrapper {
                    height: 15px;
                    line-height: 20px;
                    width: fit-content;
                    display: flex;
                    p {
                        margin: 0px !important;
                    }
                }
                .account-opp-status {
                    color: #fff;
                    font-size: 10px;
                    margin-right: 0px;
                    font-weight: bold;
                    font-family: Roboto-Bold;
                    display: flex;
                    height: 18px;
                    line-height: 15px;
                    justify-content: flex-end;
                    margin-bottom: 2px;

                    span {
                        min-width: 60px;
                        text-align: center;
                    }

                    &.green {
                        span {
                            background: #4caf50;
                            padding: 2px 6px;
                            border-radius: 4px;
                        }
                    }

                    &.red {
                        span {
                            background: #dc3d2e;
                            padding: 2px 6px;
                            border-radius: 4px;
                        }
                    }
                }
                .story-fiscal-range {
                    margin: 2px;
                    font-weight: bold;
                    font-family: Roboto-Regular;
                    font-size: 12px;
                }
                .story-opp-amount {
                    color: #0080ff;
                    margin: 2px;
                    font-weight: bold;
                    font-family: Roboto-Regular;
                    font-size: 12px;
                }
            }

            .story-account-owner {
                color: #343434;
                font-family: Roboto-Bold;
                font-size: 12px;
            }
        }

        .story-actions-wrapper {
            width: 80px;
            .story-actions-container {
                font-size: 12px;
                font-family: Roboto-Regular;
                height: 100%;
                display: flex;
                flex-direction: column;
                justify-content: space-around;
                .story-share-status,
                .story-pitch-video,
                .story-tearsheet {
                    display: flex;
                    justify-content: flex-start;
                    align-items: center;
                    cursor: pointer;
                    color: #5f6c72;
                    i {
                        color: #5f6c72;
                        font-size: 16px !important;
                        margin-right: 5px;
                        cursor: pointer;
                    }
                }
            }
        }
    }

    .story-context-wrapper {
        padding-top: 10px;
        label {
            font-size: 14px;
            height: 25px;
            font-weight: bold;
            font-family: Roboto-Bold;
            display: flex;
            align-items: center;
            margin-bottom: 0px;
            color: #344b62;
            i {
                font-size: 18px;
                margin-left: 10px;
                cursor: pointer;
            }
        }
        p {
            font-size: 14px;
            font-family: Roboto-Regular;
            height: fit-content;
            // overflow: hidden;
            margin-bottom: 0px;
            color: #5b6977;
            // overflow-y: auto;
            .see-more {
                color: #0080ff;
                display: contents;
                // font-size: 12px;
                font-family: Roboto-Regular;
                // font-weight: bold;
                cursor: pointer;
            }
        }
    }
}
