.messaging-header {
  height: 90px;
  margin: 16px 24px 16px 0;

  &-title {
    display: flex;
    align-items: center;
    justify-content: space-between;

    &-heading {
      display: flex;
      align-items: center;
      justify-content: space-between;
      /* width: 350px; */

      .page-title {
        margin: 0px 20px 24px 20px;
        font-size: 24px;
        color: #091e42;
        font-family: Roboto-Bold;
      }

      .title-edit {
        font-size: 16px;
        margin-bottom: 24px;
        cursor: pointer;
        background-color: #e9ebee;
        border-radius: 100%;
        width: 32px;
        height: 32px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        color: black;
      }
    }

    &-button {
      height: 32px;
      width: 106px;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: #0080FF;
      border-radius: 4px;
      color: #ffffff;

      .icon-heading {
        margin-left: 8px;
        height: 16px;
        width: 50px;
        color: #FFFFFF;
        font-family: Roboto-bold;
        font-size: 12px;
        letter-spacing: 0;
        line-height: 16px;
        text-align: center
      }
    }
  }

  &-filter {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 16px;

    &-options {
      &-status {
        span {
          display: inline-block;
          box-sizing: border-box;
          text-align: center;
          width: fit-content;
          height: 32px;
          border: 1px solid #adbec6;
          border-radius: 0 4px 4px 0;
          background-color: #ffffff;
          font-family: Roboto-Regular;
          color: #5c6c73;
          padding: 5px 17px;
          font-size: 14px;
          margin-left: -2px;
          cursor: pointer;
        }

        .active {
          background-color: #f27e4b;
          color: #ffffff;
          font-family: Roboto-bold;
        }
      }
    }

    &-search {
      display: flex;
      align-items: center;
      height: 32px;
      width: 263px;
      box-sizing: border-box;
      width: 263px;
      border: 1px solid #5C6C73;
      border-radius: 5px;
      background-color: #FFFFFF;

      &-question {
        color: #52627a;
        font-family: Roboto-Regular;
        font-size: 14px;
        letter-spacing: 0;
        padding: 0px 8px;
        line-height: 24px;
        margin-top: 8px;
        margin-bottom: 8px;
        border: none !important;
        outline: none;
        width: 80%;
      }

      .search-icons {
        font-size: 20px !important;
        margin-right: 10px;
      }


    }
  }

}

.alert-snack {
  svg {
    fill: white !important;
  }
}