@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

* {
  box-sizing: border-box;
}

.outer {
  padding: 15%;
}

body {
  background: #fff;
}

.loader {
  position: relative;
  margin: 75px auto;
  width: 150px;
  height: 150px;
  display: block;
  overflow: hidden;
}

.loader div {
  height: 100%;
}
.request-submitted-modal {
  height: unset !important;
  min-height: unset !important;
  width: 400px !important;
  min-width: 400px !important;
  padding-bottom: 0px !important;
}
.loader1,
.loader1 div {
  border-radius: 50%;
  padding: 8px;
  border: 2px solid transparent;
  animation: rotate linear 3.5s infinite;
  border-top-color: #171717;
  border-bottom-color: #92271b;
}

div:hover {
  animation-play-state: paused;
}

.loader,
.loader * {
  will-change: transform;
}

::-webkit-scrollbar-thumb {
  background: rgba(6, 6, 6, 0.32) !important;
  border-radius: 100px !important;
}

::-webkit-scrollbar-track {
  background: #ddd !important;
  border-radius: 100px !important;
}
