@import '../../../../../styles/base/variablesV2';
@import '../../../../../styles/base/variables';

.profile-card-component-secondary {
	border: 1px solid #E0E7E9;
	border-radius: 5px;
	
	.secondary-save-button {
		margin-left: 16px;
		color: white;
		font-weight: bold;
		text-transform: uppercase;
		border-radius: 4px;
		background-color: #1e98e9;
		border: none;
		box-shadow: none;
		&:hover {
			background-color: #1c81c5;
			color: #97a1b3;
		}

		&-wrapper {
			display: flex;
			flex-direction: row;
			justify-content: flex-end;
			margin-bottom: 24px;
			margin-right: 24px;
		}
	}

	.secondary-cancel-button {
		margin-left: 16px;
		color: #6B778C;
		font-weight: bold;
		text-transform: uppercase;
		border-radius: 4px;
		background-color: white;
		border: none;
		box-shadow: none;
		border: 1px solid #586D74;
		&:hover {
			background-color: #b4b4b4;
			color: #4d4d4d;
			border: 1px solid #b4b4b4;
		}
	}

	&-header {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		border-bottom: 1px solid #E0E7E9;
		background-color: #F6F8F9;
		height: 56px;
		align-items: center;
		padding: 16px;

		&-title {
			color: #505F79;
			font-size: 16px;
			font-weight: bold;
			letter-spacing: 0;
			line-height: 20px;
			align-items: center;
		}

		&-edit-icon {
			align-items: center;
		}
	}

	&-account-info {
		padding: 16px;
		display: flex;
		flex-direction: row;
		justify-content: left;
		&-letter {
			height: 112px;
			width: 112px;
			border-radius: 5px;
			background-color: #C55087;
			color: white;
			font-size: 80px;
			font-weight: 300;
			letter-spacing: 0;
			line-height: 94px;
			text-align: center;
			line-height: 110px;
			&.edit-mode {
				margin: auto;
			}
			&.letter-background-1 {
				background-color: #FF7C4C;
			}
			&.letter-background-2 {
				background-color: #C55087;
			}
			&.letter-background-3 {
				background-color: #1e98e9;
			}
			&.letter-background-4 {
				background-color: #36b117;
			}
			
		}
		&-labels {
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			padding-left: 24px;
			padding-right: 16px;

			&.edit-mode {
				justify-content: space-around;
			}

			&-label {
				color: #505F79;
				font-size: 14px;
				letter-spacing: 0;
				line-height: 16px;
			}
		}
		&-data {
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			&-value {
				color: #091E42;
				font-size: 14px;
				font-weight: 500;
				letter-spacing: 0;
				line-height: 16px;
			}
			&-input {
				width: 250px !important;
				margin: 8px 0;
			}
		}
	}

	&-divider {
		border-bottom: 1px solid #E0E7E9;
		margin-left: 16px;
		margin-right: 16px;
		margin-bottom: 16px;
	}

	&-profile-content {
		padding-left: 16px;
		padding-right: 16px;
		margin-bottom: 24px;

		&-label {
			color: #505F79;
			font-size: 16px;
			font-weight: bold;
			letter-spacing: 0;
			line-height: 20px;
		}
		&-text {
			color: #505F79;
			font-size: 16px;
			letter-spacing: 0;
			line-height: 24px;
		}
	}
}

.profile-card-component {
    box-shadow: $shadow;
    margin-bottom: 25px;
    color: $text-color;
    font-family: SFUI-Regular;
    .header {
		background: $orange-background;
		border-radius: 4px;
		padding: 15px;
		cursor: pointer;
		font-weight: 600;
		color: $grey;
        i {
			float: right;
			color: $grey;
			font-size: 18px;
			}
    }
    .heading {
		margin-top: 5px;
		margin-bottom: 0px;
		background: white;
		font-weight: bold;
	}
   .float-right {
		text-align: right;
	}
	.card-container {
		padding: 16px;
		padding-bottom: 45px;
		background: white;
	}
	.img-wrap {
		width: 65%;
		height: auto;
		display: inline-block;
		overflow: hidden;
		margin: 0;
		position: center;
		float: right;
	}
	&.profile-update-form {
		textarea {
			resize: none
		}
		input.form-control {
			height: 35px;
			margin-top: 5px;
		}
		input[type=number] {
			margin-bottom: 8px;
		}
		input[type=number]::-webkit-inner-spin-button,
		input[type=number]::-webkit-outer-spin-button {
			-webkit-appearance: none;
			margin: 0;
		}
		button {
			background: transparent;
			color: $grey;
			box-shadow: none;
			border: 0px;
			font-family: SFUI-Medium;
			margin-top: 6px;
		}
		.primary {
			color: $blue-default;
		}
	}
	.description{
		white-space: pre-line;
	}
}